---
import '@/style/global.css'
import HelloWorld from '@/components/HelloWorld.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tailwind + Astro Template</title>
</head>
<body>
	<main class="h-screen flex items-center justify-center">
		<HelloWorld />
	</main>
	
</body>
</html>
