---
const { class: className } = Astro.props;
---

<h1 class:list={["button-default", "button-hover", "button-active", className]}>
  Hello, World!
</h1>

<style>
  @reference "tailwindcss";

  .button-default {
    @apply text-neutral-100 bg-neutral-700 text-[2rem] p-[.2rem] transition duration-500;
  }

  .button-hover {
    @apply hover:bg-neutral-800 hover:scale-90 hover:cursor-pointer hover:duration-400;
  }

  .button-active {
    @apply active:scale-85 active:bg-neutral-900 active:duration-50;
  }
</style>
