---

---

<div
  class="w-fit h-fit bg-neutral-700 block
hover:bg-neutral-800 active:bg-neutral-900 hover:scale-90 transition duration-400 hover:cursor-pointer active:scale-80 active:duration-300 ease-out p-[.3rem]"
>
  <h1 class="text-white text-[2rem] hover:text-red-300 transition duration-400">
    Hello, World!
  </h1>
</div>
